.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: "Outfit", sans-serif;
  color: #312f2f;
  background-image: url("Background-pattern.png");
  background-color: #d4dfc7;
}

/* Spacing */
body {
  margin: 0 auto;
}

.accordion {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  background-color: #fff;
  max-width: 600px;
  border: 1px solid #3e885b;
  border-radius: 4px;
}

.accordion-content {
  text-align: left;
  margin-bottom: 1rem;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.8rem;
  border-bottom: 1px solid #3e885b;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 2rem;
}

.lobby-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  padding: 2rem;
  margin: 1rem auto;
}

.lobby-game h2 {
  margin: 0;
}

.lobby-header {
  margin-bottom: 2rem;
}

.lobby-details {
  margin-top: 8rem;
}

.lobby-list {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.navbar-links {
  display: flex;
  align-items: right;
}

.navbar-item {
  margin-left: 2.5rem;
  list-style: none;
}

.player-money {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 2rem 2rem;
}

.rules-container {
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
  max-width: 600px;
  font-size: 1.1rem;
}

.rules-section {
  margin-bottom: 3rem;
}

.rules-list {
  text-align: left;
}

.card {
  display: flex;
  padding: 1.5rem;
  width: 2.75rem;
  height: 1rem;
  margin: 0.5rem -1.25rem;
  text-align: center;
  transform: rotate(-90deg);
}

.card-disabled {
  display: flex;
  padding: 1.5rem;
  width: 2.75rem;
  height: 1rem;
  margin: 0.5rem -1.25rem;
  text-align: center;
  transform: rotate(-90deg);
}

.score-cards {
  display: flex;
}

.score-card {
  transform: none;
  width: 0.2rem;
  height: 1rem;
  margin: 0;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-item {
  margin-bottom: 1rem;
}

.action-buttons {
  margin-bottom: 2rem;
}

.lobby-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 0;
}

.lobby-header {
  max-width: 600px;
  margin: 0 2rem 2rem 2rem;
}

.lobby-logo {
  width: 8rem;
}

.main-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.other-player-bids {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.other-player-bid {
  margin: 1rem;
}

.other-player-bid h3 {
  margin: 0.2rem;
}

.point-card {
  display: flex;
  padding: 1.75rem;
  height: 3rem;
  width: 1rem;
}

.player-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-info-bid {
  text-align: left;
  margin-right: 2rem;
}

.player-info-cards {
  display: flex;
  margin-left: 2rem;
}

.point-card {
  margin-right: 1rem;
}

.scoreboard-content {
  display: flex;
  flex-direction: column;
}

.scoreboard-headers {
  display: flex;
  justify-content: space-between;
}

.scoreboard-players {
  margin-bottom: 2rem;
}

.scoreboard-player {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#scoreboard-close-button {
  background-color: #3e885b;
  color: #fff;
  margin: 0 auto;
}

/* Styling */
button {
  font-family: "Outfit", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1.5px #fff inset;
  color: #3e885b;
  padding: 0.7rem 1rem;
  height: auto;
  margin: 0 0.5rem;
  width: 8rem;
}

button:hover {
  background-color: #3e885b;
  color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1.5px #fff inset;
}

.action-buttons button {
  background-color: #3e885b;
  color: #fff;
  box-shadow: 0px 0px 0px 0px inset;
}

.action-buttons button:hover {
  background-color: #fff;
  color: #3e885b;
}

#pass {
  background-color: #312f2f;
}

.card {
  border: 2px solid #3e885b;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: -2px 2px 4px #dcdcdc;
  font-weight: bold;
  color: #3e885b;
  position: relative;
}

.card-disabled {
  border: 2px solid #3e885b;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: -2px 2px 4px #dcdcdc;
  font-weight: bold;
  color: #3e885b;
  position: relative;
  pointer-events: none;
}

.card:hover,
.card:active {
  background-color: #3e885b;
  color: white;
  top: -10px;
  border-color: #fff;
}

.form {
  font-size: 1.5rem;
  font-weight: bold;
}

.form-input {
  height: 1.2rem;
  width: 12rem;
  padding: 0.5rem;
  border-radius: 8px;
  border-color: #3e885b;
  background-color: #fff;
}

.lobby-game {
  background-color: #3e885b;
  box-shadow: -2px 2px 4px #dcdcdc;
  border: 1px solid #3e885b;
  border-radius: 4px;
  color: #fff;
}

.navbar {
  background-color: #3e885b;
  color: #fff;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.navbar-item a {
  color: #fff;
  text-decoration: none;
}

.navbar-item a:hover {
  color: #d4dfc7;
  text-decoration: none;
}

::placeholder {
  font-family: "Outfit", sans-serif;
  color: #d4dfc7;
}

.point-card {
  background-color: #f5f5f5;
  border: 2px solid #3e885b;
  border-radius: 0.25rem;
  color: #3e885b;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.player-info {
  margin-bottom: 2rem;
}

/* Larger screen */
@media screen and (min-width: 600px) {
  .lobby-list {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }

  .rules-container {
    margin: 0 auto;
  }

  .accordion {
    margin: 0 auto;
  }
}
