.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/* Spacing */
body {
  margin: 0 auto;
}

.navbar {
  align-items: center;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.navbar-links {
  display: flex;
  align-items: right;
}

.navbar-item {
  margin-left: 2rem;
  list-style: none;
}
